/* ========================================================== 
                            Resets
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ========================================================== 
                            Fonts
========================================================== */


/* ========================================================== 
                Variables / Custom Properties
========================================================== */

:root {
    --content-text: rgb(0, 0, 0);
}

/* ========================================================== 
                            Header
========================================================== */

body {
    background-color: rgb(245, 245, 245);
}

.wrapper {
    max-width: 90rem;
    background-color: white;
    margin: 0 auto;
    height: 100vh;
}

.grid_layout_1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 200px;
    gap: 5px;
}

.grid_layout_1 article:nth-of-type(1) {
    background-color: red;
    grid-column: 1 / 5;
}

.grid_layout_1 article:nth-of-type(2) {
    background-color: blue;
    grid-column: 1 / 3;
    grid-row: 2 / 4; 
}

.grid_layout_1 article:nth-of-type(3) {
    background-color: green;
    grid-column: 3 / 5;
}

.grid_layout_1 article:nth-of-type(4) {
    background-color: #7F037D;
    grid-column: 3 / 4;
}

.grid_layout_1 article:nth-of-type(5) {
    background-color: #7F037D;
    grid-column: 4 / 5;
}



.grid_layout_2 {
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr) 200px;
    grid-template-rows: repeat(3, 1fr);
    gap: 32px 16px;
    height: 500px;
    margin-top: 50px;
}

.grid_layout_2 article:nth-of-type(1) {
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.grid_layout_2 article:nth-of-type(2) {
    background-color: blue;
    grid-column: 2 / 4;
}

.grid_layout_2 article:nth-of-type(3) {
    background-color: green;
    grid-column: 4 / 6;
    grid-row: 1 / 3;
}

.grid_layout_2 article:nth-of-type(4) {
    background-color:#7F037D;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.grid_layout_2 article:nth-of-type(5) {
    background-color:#7F037D;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.grid_layout_2 article:nth-of-type(6) {
    background-color:#d5c000;
    grid-column: 4 / 6;
}